body {
    margin-top: 20px;
}

.menu {
    margin-bottom: 20px;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    height: 250px;
}

.ui.four.cards>.card {
    width: 200px;
    margin: 10px auto;
}